
<%= form_tag posts_path, method: :get do %>
  <div class="post-filter">
    <div class="post-filter-item">
      <h3>Filter by category</h3>
      <%= select_tag 'cat_id', options_for_select(@categories.collect{ |c| [c.title, c.id] }) %>
    </div>
    <%= submit_tag "Filter", class: 'btn btn-submit' %>
  </div>
<% end %>

