<div class="post-filter">
  <div class="post-filter-item">
    <h3>Filter by category</h3>
    <ul>
      <% @categories.each do |cat| %>
      <li>
        <span class="filter-click" data_id=<%= cat.id %> name="category" ><%= cat.title %></span>
      </li>
      <% end %>
    </ul>
  </div>
</div>

