<div class="list-posts">
    <div class="container">
        <h1 class="text-center">Danh sách bài viết</h1>
        <% @posts.each do |post| %>
        <div class="list-posts-item">
            <h3><%= link_to post.title, post_path(post.id) %></h3>
            <div><%= link_to "Edit", "#" %><span>|</span><%= link_to "Delete", post, method: :delete, data:{confirm: "Are you sure ?"} %></div>
        </div>
        <% end %>
    </div>
</div>