<% provide(:title, "All posts") %>
<%= render "shared/heading" %>
<div class="page-content container-fluid">
  <div class="row">
    <%= render @posts %>
  </div>
  <%= will_paginate @posts %>

</div>