<% provide(:title, "All posts") %>
<div class="row page-title">
  <div class="col-md-5 align-self-center">
    <h3>All posts</h3>
  </div>
  <div class="col-md-7 align-self-center">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
      </ol>
    </nav>
  </div>
</div>
<div class="page-content container-fluid">
  <div class="row">
    <%= render @posts %>
  </div>
  <%= will_paginate @posts %>

</div>