@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

$accent-color: #ad1a26;
$grey-color: #99abb4;

/* DEFAULT CSS */
ul,ol{
  margin: 0;
}
body{
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  background-color: #FAFAFA;
}
h1, h2, h3, h4, h5, h6{
  color: #455a64;
  text-transform: capitalize;
}
h3{
  font-size: 26px;
}
h4{
  font-size: 24px;
}
img{
  max-width: 100%;
  height: auto;
}
i{
  color: $grey-color;
  transition: all ease-in-out 0.3s;
  &:hover{
    color: $accent-color;
  }
}
a{
  color: #6c757d;
  transition: all ease-in-out 0.3s;
  &:hover{
    color: $accent-color;
    text-decoration: none;
  }
}
.href-seperator{
  &:after{
    content: ",";
  }
  &:last-child{
    &:after{
      content: none;
    }
  }
}
.sticky-top{
  width: 100%;
}
.w-5{
  width: 5%;
}
.w-10{
  width: 10%;
}
.w-20{
  width: 20%;
}
.w-30{
  width: 30%;
}
.w-40{
  width: 40%;
}
/* END DEFAULT CSS */


header{
  line-height: 45px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  .navbar{
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    .navbar-header{
      width: 240px;
      text-align: center;
      img{
        width: 30px;
        height: 30px;
      }
    }
    .navbar-nav{
      .nav-item{
        .nav-link{
          padding-left: 15px;
          padding-right: 15px;
        }
        &.active{
          .nav-link{
            position: relative;
            &::before{
              content: "";
              width: 5px;
              height: 5px;
              background-color: $accent-color;
              border-radius: 50%;
              position: absolute;
              top: calc(50% - 12px);
              right: 10px;
            }
            &::after{
              content: "";
              background-color: transparent;
              border-radius: 50%;
              position: absolute;
              top: calc(50% - 20px);
              right: 2.5px;
              padding: 5px;
              animation: heartbeat 1s infinite;
              border: 5px solid rgba($accent-color, 0.5);
            }
          }
        }
      }
    }
  }
}

@keyframes heartbeat{
  0%{
    opacity: 0;
    transform: scale(0)
  }
  25%{
    opacity: 0.5;
    transform: scale(0.25)
  }
  50%{
    opacity: 1;
    transform: scale(0.5);
  }
  75%{
    opacity: 0.5;
    transform: scale(0.75)
  }
  100%{
    opacity: 0;
    transform: scale(1)
  }
}

.left-sidebar{
  background-color: #fff;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 240px;
  height: 100%;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  padding: 80px 20px;
  nav{
    .left-sidebar-menu{
      padding: 0;
      margin: 0;
      li{
        position: relative;
        list-style: none;
        padding: 10px 0;
        &:first-child{
          padding-top: 0;
        }
        &:last-child{
          padding-bottom: 0;
        }
        a{
          text-transform: capitalize;
          font-size: 15px;
          color: #607d8b;
          display: block;
          transition: all ease-in-out 0.3s;
          &:hover{
            color: $accent-color;
            i{
              color: $accent-color;
            }
          }
          i{
            width: 27px;
          }
        }
        .click-toggle{
          position: absolute;
          right: 0;
          top: 0;
          width: 20px;
          height: 42px;
          text-align: center;
          line-height: 42px;
          cursor: pointer;
        }
      }
      .active{
        >a{
          color: $accent-color;
          i{
            color: $accent-color;
          }
        }
        >i{
          color: $accent-color;
        }
      }
      .sub-menu{
        display: none;
        padding-top: 10px;
        padding-left: 25px;
        li{
          padding: 8px 0;
          a{
            font-size: 14px;
          }
        }
      }
    }
  }
}
.page-wrapper{
  margin-left: 240px;
  width: calc(100% - 240px);
}
.page-title{
  background: #ffffff;
  margin: 0 0 30px;
  padding: 15px 10px;
  position: relative;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  h3{
    margin: 0;
    font-size: 26px;
    color: $accent-color;
  }
}
.breadcrumb{
  background-color: transparent;
  margin-bottom: 0;
  padding: 0;
  justify-content: flex-end;
  li{
    a{
      font-size: 15px;
    }
  }
}
.page-content{
  padding-left: 30px;
  padding-right: 30px;
}
.page-content-inner{
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 20px;
  h1.post-title{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .post-meta{
    margin-bottom: 20px;
    padding: 0;
    li{
      list-style: none;
      display: inline-block;
      margin-right: 10px;
      span{
        color: #333;
        font-weight: 600;
        font-size: 13px;
        i{
          color: #333;
          margin-right: 5px;
        }
        a{
          color: #333;
          &:hover{
            color: $accent-color;
          }
        }
      }
    }
  }
  .sapo{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
  }
}
.page-content-item{
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 30px;
  .post-thumb{
    margin-bottom: 10px;
  }
  .post-meta{
    margin-bottom: 10px;
    padding: 0;
    li{
      list-style: none;
      display: inline-block;
      margin-right: 10px;
      span{
        color: #333;
        font-weight: 600;
        font-size: 13px;
        i{
          color: #333;
          margin-right: 5px;
        }
        a{
          color: #333;
          &:hover{
            color: $accent-color;
          }
        }
      }
    }
  }
  .post-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 1.5;
    a{
      color: #333;
      &:hover{
        color: $accent-color;
      }
    }
  }
  .post-desc{
    margin-bottom: 10px;
  }
  .read-more{
    color: $accent-color;
    font-weight: 600;
    &:hover{
      color: #333;
    }
  }
}
.post-filter{
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 10px 20px;
  .post-filter-item{
    h3{
      color: #252525;
      font-weight: bold;
      font-size: 24px;
      padding-top: 15px;
      margin-bottom: 20px;
    }
    ul{
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        padding: 10px 0;
        border-bottom: 1px solid #ebebeb;
        a{
          font-size: 14px;
          text-transform: capitalize;
          color: #252525;
          display: block;
          &:hover{
            color: $accent-color;
            font-weight: bold;
          }
        }
      }
    }
  }
}
.pagination{
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  a,em,span{
    display: inline-block;
    padding: 8px 12px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    color: #333;
    font-weight: 600;
    &:hover{
      background-color: $accent-color;
      color: #fff;

    }
  }
  .previous_page{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .next_page{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .current{
    background-color: $accent-color;
    color: #fff;
  }
}
.post-create-title, .post-create-content, .post-create-desc, .post-create-thumbnail{
  h4{
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
  }
  >span{
    color: $grey-color;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
  }
  margin-bottom: 40px;
}
.post-create-submit{
  margin-bottom: 40px;
  .btn{
    width: 100%;
  }
}
.form-control{
  border-color: #d1d1d1;
  border-radius: 0;
  background-color: #fefefe;
  &:focus{
    box-shadow: none;
    border-color: $accent-color;
  }
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
    font-weight: 300;
    font-size: 12px;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
    font-weight: 300;
    font-size: 12px;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
    font-weight: 300;
    font-size: 12px;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
    font-weight: 300;
    font-size: 12px;
  }
}

.footer{
  background: #ffffff;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  color: #67757c;
  margin-top: 40px;
  padding: 17px 30px;
}

#error_explanation{
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  border-radius: 5px;
  h2{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
  }
}

.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 30px;
  form{
    width: 350px;
    label{
      font-weight: 600;
    }
  }
  >a{
    margin-bottom: 10px;
    &:hover{
      text-decoration: underline;
    }
  }
  .actions{
    margin-bottom: 20px;
  }
  .btn{
    width: 100%;
  }
}
.input-rounded{
  border-radius: 100px;
}
.btn-submit{
  background-color: $accent-color;
  color: #fff;
  transition: 0.3s;
  &:hover{
    box-shadow: 0 14px 26px -12px rgba($accent-color, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba($accent-color, 0.2);
  }
}
.btn-dark{
  background-color: #000;
  color: #fff;
  transition: 0.3s;
  &:hover{
    background-color: #fff;
    color: #000;
  }
}
.alert-msg{
  width: 80%;
  margin: auto;
}
.cancel-form{
  text-align: center;
  padding: 20px;
  h4{
    font-size: 18px;
    text-transform: uppercase;
    color: #333;
    font-weight: 700;
  }
}
.cat-table{
  margin-top: 48px;
}
.cat-action{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
  }
}
.table{
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  .child{
    .title-table{
      span{
        &:before{
          content: "-";
          margin-right: 5px;
        }
      }
    }
  }
}

tbody{
  td{
    border-right: 1px solid #dee2e6;
    &:last-child{
      border-right: none;
    }
  }
}

.thead-dark{
  th{
    border-right: 1px solid;
    &:last-child{
      border-right: none;
    }
  }
}

.select-cat-wrapper{
  margin: 0;
  padding: 0;
  max-height: 250px;
  overflow-y: auto;
  li{
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #ebebeb;
    label{
      margin-left: 10px;
      margin-bottom: 0;
    }
  }
}